$square-vertical: 10px;
$square-horizontal: 10px;

//===========================

//@font-face {
//  font-family: FontAwesome;
//  src: url(../fonts/FontAwesome.otf);
//}

body {
  margin: 0 auto;
}

ul.list-group {
  list-style: none;

  li a {
    height: 70px;

    div {
      margin-top: 6px;
    }
    div.square-label {
      width: 37px;
      height: 37px;
      border: 1px solid #979797;
      background-color: #d8d8d8;
      float: left;
      border-radius: 100%;
      margin-right: 8px;
      margin-top: 6px;
    }

    div.square {
      width: $square-horizontal;
      height: $square-vertical;
      border-radius: 100%;
      background-color: #606060;
      float: right;
    }

    div.content {
      background-color: red;
    }

    div.tagging {
      background-color: orange;
    }

    div.publish {
      background-color: limegreen;
    }
  }
}

.jumbotron {
  overflow-x: scroll;
}

.header-wrap {
  span {
    font-size: medium;
  }
}

.modal-body {
  width: 400px;
  height: 300px;
}

.dropdown-menu {
  li {
    height: 35px;
  }
  i {
    float: left;
  }
  span {
    float: right;
  }
}

.navbar-right {
  width: 250px;

  span#profile-name {
    width: 100px;
    margin-left: 15px;
  }
}

#profile-img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

p.header-wrap .text-column-publish {
  color: #898989;
}

p.header-wrap .text-column-content {
  color: #00c461;
}

.navbar-inverse {
  border-radius: 0;
}

div.modal-content {

  .modal-body {
    margin: 0 auto;

    .navbar-form {
      text-align: center;
    }
  }
}

// Dragging border

.dragging-border {
  border: 1px dashed rgba(0, 0, 0, 0.3);
}